name: TFLint

on:
  workflow_call:

permissions:
  contents: read

jobs:
  tflint:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install TFLint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
        with:
          tflint_version: v0.58.1
          checksums: |
            2fea1af8e8602d4d9e4253a588ac66f17bf36152cafb51f4d929b8bc6335e740
      - name: tflint --init
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: tflint --init
      - name: tflint
        run: tflint
